@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');
@import "variables";
@import "mixins";

body {
    font-family: 'Heebo', sans-serif;
}

.pageHeading {
    text-align: center;
    font-size: $headingPrimary;
    @include mQ(670px){
        font-size: $phoneHeadingPrimary;
    }
}

.main-container {
    margin: 0 10%;
}

.main-section {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    @include mQ(670px){
        flex-direction: column;
    }
}

.left-section  {
    width: 50%;
    img {
        width: 100%;
    }
    h3 {
        padding: 10px 0px;
        font-size: $headingSecondary;
    }
    p {
        font-size: $para;
        color: $deepGrey
    }

    @include mQ(670px){
        width: 100%;
    }
}

.right-section {
    width: 50%;
    text-align: center;

    @include mQ(670px){
        width: 100%;
    }
}

.contact-form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10%;


        
    .input-field {
        margin: 5% 10%;
        width: 90%;
        width: 100%;
        font-size: $headingSecondary;
        border: none;
        border-bottom : 3px solid $deepGrey;
        
        &:focus {
            outline: none;
            border: none;
            border-bottom: 3px solid $green;
            border-radius: 10px;
            transition: all 0.2s ease-in;
            padding: 10px;
        }

        @include mQ(670px){
            font-size: 1.5rem;
            margin: 10% 0%;
            width: 100%;
            padding: 5px;
        }

    }

}

.btn {
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: $green;
    font-size: 20px;
    font-weight: bolder;
    &:hover {
        background-color: darken($green, 30) ;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    @include mQ(670px){
        width: 100%;
    }
}